.button1 {
    bottom:10px;
    position:relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 3px 8px;
    text-align: center;
    left:0px;
    width:75px;
    text-decoration: none;
    font-size: 8px;
    border-radius:25px;
    
    
  }
  .button1:hover{
      background-color:#4caf4f96;
  }
  .button2 {
    bottom:10px;
    background-color: #b1250c;
    border: none;
    left:0px;
    color: white;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 8px;
    position:relative;
    width: 75px;
    border-radius:25px;
   
  }
  .button2:hover{

      background-color: #b1250c65;
        }
        
.result{
    padding-top: 100px;
    margin-top:100px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:100px;
    border:3px solid blue;
    text-align:center;
    line-height:middle;
    
}
.content{
    margin: 0 auto;
    width:50%;
    padding-top:40px;
}

#value2{
   
    width:50%;
    font-size: 4px;
    text-align: center;
    
    
}
#value1:hover{
    background-color:rgba(0, 0, 255, 0.24);
    border-color: rgba(0, 0, 255, 0.24);
   
}
#value1{
   
    font-size: 4px;
    width:50px;

    text-align: center;
   
}
#value2:hover{
    background-color:rgba(218, 9, 9, 0.397);
    border-color: rgba(218,9,9,0.397);
}
#value3{
    
    font-size: 4px;
    width:50%;
    text-align:center;
    
   
    
}
select{
    font-size:5px;
  
    
}   

#fragor{
text-align:center;
font-size: 6px;
 font-family:Georgia, 'Times New Roman', Times, serif;


}

.kallebaah{
    border:solid;
    color:black;
    width:100px;
    text-align:center;
    border-radius:25px;
    

}

select:hover{
    background-color:rgba(22, 4, 160, 0.199);
    border:solid rgba(22, 4, 160, 0.199);
}
